:root {
   --dark-green: rgb(25, 95, 25);
   --sage:rgb(141, 190, 132);
   --brown: rgb(75, 53, 53);
   --eggshell: rgb(241, 245, 204);
}

body {
    color: var(--dark-green);
    background-color: var(--sage);
    font-size: 40px;
}

nav {
    display: flex;
    align-items: start;
    position:fixed;
    background: var(--dark-green);
    width: 1153px;
    margin: none;
    opacity: 80%;
}

nav:hover {
    opacity: 100%;
}

a {
    color: var(--eggshell);
    cursor: pointer;
}
a:hover {
    color: tomato;
}

nav .profile-pic{
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 200px;
    border-radius: 10%;
    margin-right: 20px;
    margin-left: 40px;
    border: solid 1px var(--eggshell);
}

.work-pages img{
    height: 200px;
    display: flex;
    margin-right: 20px;
    border: solid 1px var(--eggshell);
    border-radius: 10%;
}


header ul {
    position: relative;
    margin-left: 50%;
    list-style: none;
    display: flex;
    justify-content: stretch;
    margin-left: 0px;
}

header ul li {
    padding: 20px;
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

header .strong {
    display: inline;
    background-color: var(--eggshell);
    border-radius: 5px;
}

section {
    overflow: auto;
}

.about-me h2,
.work h2,
.contact-me h2{
    text-align: end;
    padding: 20px;

}

.about-me,
.work,
.contact-me {
    display: flex;
    overflow: auto;
    text-align: center;
    padding: 20px;
    margin-top: 200px;
}

.about-me p,
.work .work-pages,
.contact-me p {
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: var(--eggshell);
    padding-left: 20px;
    float: right;
    display: flex;
    justify-content: end;
    font-size: 30px;

}

.work h2 {
    height: 1000px
}

.work-pages .previous-projects{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 500px;
    margin-left: -840px;
}

.col {
    padding: 40px;
}

.work-pages {
    display: flex;
    justify-content: flex-start;
}

.run-buddy, .password-generator {
    float: left;
}

.task-master-pro, .taskinator {
    float: right;
}

.work-day-scheduler{
    height:400px;
    text-align:center;
    padding-bottom: 40px;
    padding-left: 40px
}

.work-day-scheduler img {
    height:400px;
}

.contact-me {
    font-size: 20px;
}

.contact-me h2 {
    display: flex;
    flex-direction: column;
}

.contact-me p{
    display: flex;
    flex-wrap: wrap;
}
.contact-me a {
    padding: 20px;
}

@media screen and (max-width: 800px) {
    body {
        flex: 100%;
        max-width: 100%;
    }
}
